/typings
/lib
/dist
/tests/.tmp
/addins/build
/installer/vba-blocks.wixobj
/installer/vba-blocks.wixpdb
/installer/actions/target

# Ignore temporary Excel files
*/~$*
.backup

# OS and other
.DS_Store
node_modules
package-lock.json
*.log
.vscode
