# Ignore compiled packages
packages/cli/lib
packages/cli/build
packages/cli/tests/fixtures/build

packages/addin/build

packages/desktop/src/renderer/.next
packages/desktop/src/renderer/out
packages/desktop/dist

# Ignore temporary Excel files
*/~$*

# OS and other
.DS_Store
node_modules
*.log
