# Ignore compiled packages
packages/cli/lib
packages/cli/build
packages/cli/tests/fixtures/build

packages/flat-solver/lib

packages/addin/build

# Ignore temporary Excel files
*/~$*

# OS and other
.DS_Store
node_modules
*.log
