<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='vba-blocks {{version}}' Manufacturer='vba-blocks' Id='*' UpgradeCode='c974b403-45aa-4a15-8875-3775096838db' Language='1033' Codepage='1252' Version='{{version}}'>
    <Package Id='*' Keywords='Installer' Description="vba-blocks {{version}} Installer" Manufacturer='vba-blocks' InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high" />
    <MajorUpgrade DowngradeErrorMessage="A more recent version of vba-blocks is already installed. Setup will now exit." />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="vba-blocks">
          <Directory Id="BIN" Name="bin">
            <Component Id="vbablocks.exe" Guid="d7f2c8c2-c518-4f3b-a132-b975509a00bb">
              <File Id="vbablocks.exe" Name="vba-blocks.exe" Source="../dist/unpacked/bin/vba-blocks.exe" KeyPath="yes" />
            </Component>
          </Directory>
          <Directory Id="ADDINS" Name="addins">
            <Component Id="vbablocks.xlam" Guid="d2687b19-c322-41b6-82c3-eaa5be156083">
              <File Id="vbablocks.xlam" Name="vba-blocks.xlam" Source="../dist/unpacked/addins/vba-blocks.xlam" KeyPath="yes" />
            </Component>
          </Directory>
          <Directory Id="RUNSCRIPTS" Name="run-scripts">
            <Component Id="run.vbs" Guid="4ecbce1f-14b2-41b9-8938-c81701413b5e">
              <File Id="run.vbs" Name="run.vbs" Source="../dist/unpacked/run-scripts/run.vbs" KeyPath="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <Component Id="Path" Guid="98c5612c-202a-4775-b4db-3f4047e7b328">
        <Environment Id="PATH" Name="PATH" Value="[BIN]" Permanent="no" Part="last" Action="set" System="yes" />
      </Component>
    </Directory>

    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="vbablocks.exe" />
      <ComponentRef Id="vbablocks.xlam" />
      <ComponentRef Id="run.vbs" />
      <ComponentRef Id="Path" />
    </Feature>

    <Binary Id='ActionsExe' SourceFile='actions/target/release/vba-blocks-actions.exe' />
    <CustomAction Id='InstallAddins' BinaryKey='ActionsExe' ExeCommand='--install "[INSTALLDIR]\"' />
    <CustomAction Id='UninstallAddins' BinaryKey='ActionsExe' ExeCommand='--uninstall' />

    <InstallExecuteSequence>
      <Custom Action='InstallAddins' Before='InstallFinalize'>NOT Installed</Custom>
      <Custom Action='UninstallAddins' Before='InstallAddins'>Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
