<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='vba-blocks 0.1.0' Manufacturer='vba-blocks' Id='2e2ded73-a405-44c9-a59d-f2696438e5a3' UpgradeCode='c974b403-45aa-4a15-8875-3775096838db' Language='1033' Codepage='1252' Version='0.1.0'>
    <Package Id='*' Keywords='Installer' Description="vba-blocks 0.1.0 Installer" Manufacturer='vba-blocks' InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ROOT" Name="vba-blocks">
          <Directory Id="BIN" Name="bin" />
          <Directory Id="ADDINS" Name="addins" />
          <Directory Id="RUNSCRIPTS" Name="run-scripts" />
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="BIN">
      <Component Id="vbablocks.exe" Guid="d7f2c8c2-c518-4f3b-a132-b975509a00bb">
        <File Id="vbablocks.exe" Name="vba-blocks.exe" Source="../dist/unpacked/bin/vba-blocks.exe" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ADDINS">
      <Component Id="vbablocks.xlam" Guid="d2687b19-c322-41b6-82c3-eaa5be156083">
        <File Id="vbablocks.xlam" Name="vba-blocks.xlam" Source="../dist/unpacked/addins/vba-blocks.xlam" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="RUNSCRIPTS">
      <Component Id="run.vbs" Guid="4ecbce1f-14b2-41b9-8938-c81701413b5e">
        <File Id="run.vbs" Name="run.vbs" Source="../dist/unpacked/run-scripts/run.vbs" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="vbablocks.exe" />
      <ComponentRef Id="vbablocks.xlam" />
      <ComponentRef Id="run.vbs" />
    </Feature>
  </Product>
</Wix>
